# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.env

# FastAPI
instance/
*.db

# VSCode
.vscode/

# Docker
*.log
docker-compose.override.yml

# Node/Vue
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Misc
*.sqlite3
coverage/
htmlcov/
.mypy_cache/
.pytest_cache/